<div class="card">
	<div class="card-header"><h1>Friends App</h1></div>
  <div class="card-body">
    Welcome to friends app. It is a simple website made by Ruby on rails and it is completely styled by bootstrap.
    This website performs CRUD operations and uses Postgres as its database
 </div>
 <div class="card-body">
 	<hr>
 	<h2>About Ruby on Rails</h2>
 	    <iframe width="375" height="250" src="https://www.youtube.com/embed/5K74iLvxH0k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h5>Here is a video from youtube which will explain Ruby on Rails</h5>
  </div>
</div>
